h1{
    display:inline;
    color:aqua;
    background-color: black;
}

.first
{    
    display:inline;
    background-color: brown;
}
#third
{
    display:inline;
   background-color: blue; 
}
body
{
    background-color: burlywood;
}
*{
    background-color: aquamarine;
}
/*change thru child*/
section > p{
    background-color: blueviolet;
}